<article class="main">
	<div class="container">
	    <div class="row">
	        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
	            <div class="content-panel-title">
	                <h2>Forms</h2>
	            </div>
	        </div>
	        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
	            <div class="content-panel">
	            <p>Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus. Morbi lorem ante, malesuada in mollis nec, non auctor nec massa. Aenean tempus dui eget felis blandit at fringilla urna ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor.</p>
	            </div>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	            <div class="content-panel">
	                <h3>Default Input</h3>
	                <div class="form-group">
	                    <label>Username</label>
	                    <input type="text" value="" class="form-control">
	                </div>
	                <div class="form-group">
	                    <label>Email</label>
	                    <input type="text" value="" class="form-control">
	                </div>
	                <div class="form-group">
	                    <label>Address</label>
	                    <textarea rows="3" class="form-control"></textarea>
	                </div>
	            </div>
	        </div>
	        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	            <div class="content-panel">
	                <h3>Theme Input</h3>
	                <div class="form-group">
	                    <label>Username</label>
	                    <input type="text" value="" class="form-control bordered-input">
	                </div>
	                <div class="form-group">
	                    <label>Email</label>
	                    <input type="text" value="" class="form-control bordered-input">
	                </div>
	                <div class="form-group">
	                    <label>Address</label>
	                    <textarea rows="3" class="form-control bordered-input"></textarea>
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
	            <div class="content-panel">
	                <h3>Search Form</h3>
	                <form class="form-search">
	                    <div class="input-group">
					      <input type="text" class="form-control bordered-input">
					      <div class="input-group-btn">
					        <button type="button" class="btn btn-default btn-ms" data-toggle="dropdown">Search</button>
					        </div><!-- /btn-group -->
					    </div><!-- /input-group -->
	                </form>
	            </div>
	        </div>
	        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
	            <div class="content-panel">
	                <h3>Inline Form</h3>
	                <form class="form-inline" role="form">
					  <div class="form-group">
					    <label class="sr-only" for="exampleInputEmail2">Email address</label>
					    <input type="email" class="form-control bordered-input" id="exampleInputEmail2" placeholder="Enter email">
					  </div>
					  <div class="form-group">
					    <label class="sr-only" for="exampleInputPassword2">Password</label>
					    <input type="password" class="form-control bordered-input" id="exampleInputPassword2" placeholder="Password">
					  </div>
					  <div class="checkbox">
					    <label>
					      <input type="checkbox"> Remember me
					    </label>
					  </div>
					  <button type="submit" class="btn btn-default">Sign in</button>
					</form>
	            </div>
	        </div>
	        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
	            <div class="content-panel">
	                <h3>Inline Checkboxes</h3>
	                <label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
					</label>
	            </div>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	            <div class="content-panel">
	                <h3>Validation states</h3>
	                <div class="form-group has-success">
					  <label class="control-label" for="inputSuccess">Input with success</label>
					  <input type="text" class="form-control" id="inputSuccess">
					</div>
					<div class="form-group has-warning">
					  <label class="control-label" for="inputWarning">Input with warning</label>
					  <input type="text" class="form-control" id="inputWarning">
					</div>
					<div class="form-group has-error">
					  <label class="control-label" for="inputError">Input with error</label>
					  <input type="text" class="form-control" id="inputError">
					</div>
	            </div>
	        </div>
	        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	            <div class="content-panel">
	                <h3>Checkboxes and Radio</h3>
	                <label class="checkbox">
	                <input type="checkbox" value="">
	                Option one is this and that will be sure to include why it's great
	                </label>
	                <label class="radio">
	                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
	                Option one is this and that will be sure to include why it's great
	                </label>
	                <label class="radio">
	                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
	                Option two can be something else and selecting it will deselect option one
	                </label>
	            </div>
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
	            <div class="content-panel">
	                <h3>Selects</h3>
	                <div class="form-group">
	                    <select class="form-control">
						  <option>1</option>
						  <option>2</option>
						  <option>3</option>
						  <option>4</option>
						  <option>5</option>
						</select>
	                </div>
	                <div class="form-group">
						<select multiple class="form-control">
						  <option>1</option>
						  <option>2</option>
						  <option>3</option>
						  <option>4</option>
						  <option>5</option>
						</select>
	                </div>
	            </div>
	        </div>
	        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
	            <div class="content-panel">
	                <h3>Prepended and appended inputs</h3>
	                <div class="form-group">
	                    <div class="input-group">
						  <span class="input-group-addon">@</span>
						  <input type="text" class="form-control" placeholder="Username">
						</div>
	                </div>	
	                <div class="form-group">
						<div class="input-group">
						  <input type="text" class="form-control">
						  <span class="input-group-addon">.00</span>
						</div>
	                </div>
	                <div class="form-group">
						<div class="input-group">
						  <span class="input-group-addon">$</span>
						  <input type="text" class="form-control">
						  <span class="input-group-addon">.00</span>
						</div>
	                </div>
	            </div>
	        </div>
	        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
	            <div class="content-panel">
	                <h3>Disabled Inputs</h3>
					<form class="form-inline" role="form">
					  <fieldset disabled>
					    <div class="form-group">
					      <label for="disabledTextInput">Disabled input</label>
					      <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
					    </div>
					    <div class="form-group">
					      <label for="disabledSelect">Disabled select menu</label>
					      <select id="disabledSelect" class="form-control">
					        <option>Disabled select</option>
					      </select>
					    </div>
					    <div class="form-group">
					    <div class="checkbox">
					      <label>
					        <input type="checkbox"> Can't check this
					      </label>
					    </div>
					    </div>
					    <div class="form-group">
					    <button type="submit" class="btn btn-primary">Submit</button>
					    </div>
					  </fieldset>
					</form>
	            </div>
	        </div>
	    </div>
	</div>
</article>