<div class="top-parallax" ng-include src="'app/views/structure/top.tpl.html'" parallax parallax-ratio="0.2"></div>

<article class="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel-title">
                    <h2>Latest</h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 blog">
                <div class="content-panel">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p>21/11/13 <span class="pull-right">James Don</span></p>
                    <img class="content-image" ng-src="assets/img/blog/blog-1.jpg" alt="" >
                    <p>Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus. Morbi lorem ante, malesuada in mollis nec, non auctor nec massa. Aenean tempus dui eget felis blandit at fringilla urna ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor.</p>
                    <p><a class="pull-right btn blue" href="{{ Root }}/features/blogpost">Read More</a></p>
                </div>
                <div class="content-panel">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p>05/08/13 <span class="pull-right">James Don</span></p>
                    <img class="content-image" ng-src="assets/img/blog/blog-2.jpg" alt="" >
                    <p>Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus. Morbi lorem ante, malesuada in mollis nec, non auctor nec massa. Aenean tempus dui eget felis blandit at fringilla urna ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor.</p>
                    <a class="pull-right btn blue"  href="{{ Root }}/features/blogpost">Read More</a>
                </div>
                <div class="content-panel">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p>03/06/13 <span class="pull-right">James Don</span></p>
                    <img class="content-image" ng-src="assets/img/blog/blog-3.jpg" alt="" >
                    <p>Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus. Morbi lorem ante, malesuada in mollis nec, non auctor nec massa. Aenean tempus dui eget felis blandit at fringilla urna ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor.</p>
                    <a class="pull-right btn blue"  href="{{ Root }}/features/blogpost">Read More</a>
                </div>
                <div class="content-panel">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p>02/05/13 <span class="pull-right">James Don</span></p>
                    <img class="content-image" ng-src="assets/img/blog/blog-4.jpg" alt="" >
                    <p>Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus. Morbi lorem ante, malesuada in mollis nec, non auctor nec massa. Aenean tempus dui eget felis blandit at fringilla urna ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor.</p>
                    <a class="pull-right btn blue"  href="{{ Root }}/features/blogpost">Read More</a>
                </div>
            </div>
        </div>
    </div>
</article>