<div class="top-parallax large" ng-include src="'app/views/structure/top.tpl.html'" parallax parallax-ratio="0.2"></div>

<article class="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel-title">
                    <h2>Stay tuned</h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="content-panel">
                    <p>Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus. Morbi lorem ante, malesuada in mollis nec, non auctor nec massa. Aenean tempus dui eget felis blandit at fringilla urna ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="content-panel">
                <h3>Whats coming?</h3>
                <p>Phasellus egestas sit amet augue vitae ultrices. Donec egestas pulvinar felis sed lacinia. Nullam eu tempor nunc. Nunc eu sapien sit amet lacus vestibulum rutrum. Donec non risus elementum, varius risus non, pellentesque lorem. Sed elementum sit amet turpis vitae accumsan.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="content-panel" fit-vids>
                <iframe src="http://player.vimeo.com/video/68481134" width="500" height="281" class="video"></iframe>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
            <div class="content-panel" >
                <h3>Keep in touch</h3>
                <p>Subscribe to our weekly Newsletter and stay tuned.</p>
                <form action="#" method="post">
                    <div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span>
                        <input type="text" class="form-control" name="" placeholder="your@email.com" />
                    </div>
                    <br />
                    <input type="submit" value="Subscribe Now!" class="btn btn-info" />
                </form>
            </div>
        </div>
    </div>
</article>