<!-- replace size class pricing -->
<div class="top-parallax pricing" ng-include src="'app/views/structure/top.tpl.html'" parallax parallax-ratio="0.2"></div>

<article class="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel-title">
                    <h2>Which one?</h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="content-panel">
                    <p>Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus. Morbi lorem ante, malesuada in mollis nec, non auctor nec massa. Aenean tempus dui eget felis blandit at fringilla urna ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor.</p>
                </div>
            </div>
        </div>
        <div class="row pricing">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="pricing-well">
                    <h2>
                        Basic
                    </h2>
                    <ul class="pricing-list">
                        <li>Lorem ipsum</li>
                        <li>dolor sit</li>
                        <li>sit amet</li>
                        <li>Fusce nec</li>
                    </ul>
                    <hr>
                    <h3>
                        $29.99 / month
                    </h3>
                    <hr>
                    <p>
                        <a class="btn " href="#">
                        Select plan
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="featured"></div>
                <div class="pricing-well">
                    <h2>
                        Advance
                    </h2>
                    <ul class="pricing-list">
                        <li>Lorem ipsum</li>
                        <li>sit amet</li>
                        <li>sit amet</li>
                        <li>Fusce nec</li>
                    </ul>
                    <hr>
                    <h3>
                        $69.99 / month
                    </h3>
                    <hr>
                    <p>
                        <a class="btn " href="#">
                        Select plan
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="pricing-well">
                    <h2>
                        Pro
                    </h2>
                    <ul class="pricing-list">
                        <li>Lorem ipsum</li>
                        <li>sit amet</li>
                        <li>dolor sit</li>
                        <li>Fusce nec</li>
                        <li>Fusce nec</li>
                    </ul>
                    <hr>
                    <h3>
                        $99.99 / month
                    </h3>
                    <hr>
                    <p>
                        <a class="btn " href="#">
                        Select plan
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="content-panel">
                    <h2>Start your free trial now! - <a class="btn btn-inverse btn-large">Register</a></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="content-panel-title">
                    <h2>Need help?</h2>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <div class="content-panel">
                    <p>Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus. Morbi lorem ante, malesuada in mollis nec, non auctor nec massa. Aenean tempus dui eget felis blandit at fringilla urna ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor.</p>
                </div>
            </div>
        </div>
        <div class="row pricing">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="pricing-well">
                    <h2>
                        Slow
                    </h2>
                    <ul class="pricing-list">
                        <li>Lorem ipsum</li>
                        <li>dolor sit</li>
                        <li>sit amet</li>
                        <li>Fusce nec</li>
                    </ul>
                    <hr>
                    <h3>
                        $9.99 / month
                    </h3>
                    <hr>
                    <p>
                        <a class="btn " href="#">
                        Select plan
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="pricing-well">
                    <h2>
                        Steady
                    </h2>
                    <ul class="pricing-list">
                        <li>Lorem ipsum</li>
                        <li>sit amet</li>
                        <li>sit amet</li>
                        <li>Fusce nec</li>
                    </ul>
                    <hr>
                    <h3>
                        $19.99 / month
                    </h3>
                    <hr>
                    <p>
                        <a class="btn " href="#">
                        Select plan
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="pricing-well">
                    <h2>
                        Speedy
                    </h2>
                    <ul class="pricing-list">
                        <li>Lorem ipsum</li>
                        <li>sit amet</li>
                        <li>dolor sit</li>
                        <li>Fusce nec</li>
                        <li>Fusce nec</li>
                    </ul>
                    <hr>
                    <h3>
                        $29.99 / month
                    </h3>
                    <hr>
                    <p>
                        <a class="btn " href="#">
                        Select plan
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="content-panel">
                    <h2>
                        Help
                    </h2>
                    <p>
                        Consectetur adipiscing elit. Sed ullamcorper ut lorem eu dapibus. In condimentum massa in dolor adipiscing tincidunt. Fusce mollis augue in libero tristique, a adipiscing felis condimentum. Elit. Sed ullamcorper ut lorem eu dapibus. In condimentum massa in dolor adipiscing tincidunt. Fusce mollis augue in libero tristique
                    </p>
                </div>
            </div>
        </div>
    </div>
</article>